:root{
  --white-color: #ffffff;
}

*{
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  width: 100%;
}

a#my_logo{
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 30px 20px;
}

a#img_link{
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 30px 20px;
}